<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="canonical" href="team.html" />
    <!-- <link href="output.css" rel="stylesheet"> -->
    <script>
        var digitalData = {
            "page": {
                "pageInfo" : {
                    "pageName": "Team Page"
                    }
                }
        };
    </script>
    <script>
        window.targetGlobalSettings = {
            cookieDomain: "pritando.github.io"
        }
    </script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--Pre Hidding Snippet Code -->
    <script>
        (function(g,b,d,f){(function(a,c,d){if(a){var e=b.createElement("style");e.id=c;e.innerHTML=d;a.appendChild(e)}})(b.getElementsByTagName("head")[0],"at-body-style",d);setTimeout(function(){var a=b.getElementsByTagName("head")[0];if(a){var c=b.getElementById("at-body-style");c&&a.removeChild(c)}},f)})(window,document,"body {opacity: 0 !important}",3E3);
    </script>
    <!--Launch Header Embed Code -->
    <script src="https://assets.adobedtm.com/6268dc4b6b26/7faccbcbbd76/launch-55de46b1f246-development.min.js" async></script>
   
</head>

<body>
    <section class="navigation-header relative bg-[#340404] max-w-screen-2xl m-auto">
        <nav class="flex py-6 justify-end md:w-11/12 relative space-x-4 z-10">
            <a href="../index.html" class="text-lg px-3 py-2 text-white rounded-lg hover:bg-lime-200 hover:text-slate-900">Home</a>
            <a href="team.html" class=" text-lg px-3 py-2 text-slate-900 rounded-lg bg-lime-200 hover:text-slate-900">Team</a>
            <a href="projects.html" class="text-lg px-3 py-2 text-white rounded-lg hover:bg-lime-200 hover:text-slate-900">Projects</a>
            <a href="reports.html" class=" text-lg px-3 py-2 text-white rounded-lg hover:bg-lime-200 hover:text-slate-900">Reports</a>
        </nav>
    </section>
    <section class="slick-container bg-[#340404] max-w-screen-2xl m-auto">
        <div class="slide-1">
            <div class="flex flex-col-reverse md:grid md:gap-5 md:grid-cols-2 items-center py-8">
                <div class="text-container text-white md:pl-16 xl:pl-56 w-4/5 md:w-10/12 text-center md:text-left lg:pl-32">
                    <h1 class="text-bold text-4xl md:text-5xl pb-6 md:pb-8">Team</h1>
                    <p class="text-md pb-8 md:text-xl">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                        Lorem Ipsum has been the
                        industry's standard dummy text</p>
                    <a href="#"
                        class="bg-lime-200 hover:bg-lime-400 rounded-full px-6 py-2 text-md inline-block text-black team-button">Read
                        More Here</a>
                </div>
            </div>
        </div>
    </section>
    <section class="footer max-w-screen-2xl m-auto">
        <div class="block-2 grid md:gap-4 xl:gap-10 md:grid-cols-4 xl:px-32 md:px-8 lg:px-16 pt-24 bg-zinc-700">
            <div class="text-container text-white text-xl text-left py-2 m-8 md:m-0">
                <h3 class="text-xl pb-8">Frome the Blog</h3>
                <p class="text-base text-zinc-300">Lorem Ipsum Content Lorem Ipsum ContentLorem Ipsum Content Lorem
                    Ipsum Content
                    Lorem Ipsum ContentLorem Ipsum ContentLorem Ipsum Content Lorem Ipsum ContentLorem Ipsum Content</p>
            </div>
            <div class="text-container text-white text-xl text-left  py-2 m-8 md:m-0">
                <h3 class="text-xl pb-8">Quick Links</h3>
                <ul>
                    <li class="list-none list-disc ml-5"><a href="#"
                            class="text-base text-lime-200 hover:text-lime-400 hover:underline">Content 1</a></li>
                    <li class="list-none list-disc ml-5"><a href="#"
                            class="text-base text-lime-200 hover:text-lime-400 hover:underline">Content 2</a></li>
                    <li class="list-none list-disc ml-5"><a href="#"
                            class="text-base text-lime-200 hover:text-lime-400 hover:underline">Content 3</a></li>
                    <li class="list-none list-disc ml-5"><a href="#"
                            class="text-base text-lime-200 hover:text-lime-400 hover:underline0">Content 4</a></li>
                    <li class="list-none list-disc ml-5"><a href="#"
                            class="text-base text-lime-200 hover:text-lime-400 hover:underline">Content 5</a></li>
                </ul>
            </div>
            <div class="text-container text-white text-xl text-left py-2 m-8 md:m-0">
                <h3 class="text-xl pb-8">Latest News</h3>
                <p class="text-base text-zinc-300">Lorem Ipsum Content Lorem Ipsum ContentLorem Ipsum Content Lorem
                    Ipsum Content
                    Lorem Ipsum ContentLorem Ipsum ContentLorem Ipsum Content Lorem Ipsum ContentLorem Ipsum Content</p>

                <p class="text-base text-zinc-300 pt-10">Lorem Ipsum Content Lorem Ipsum ContentLorem Ipsum Content
                    Lorem
                    Ipsum Content
                    Lorem Ipsum ContentLorem Ipsum ContentLorem Ipsum Content Lorem Ipsum ContentLorem Ipsum Content</p>
            </div>
            <div class="text-container text-white text-xl text-left  py-2 m-8 md:m-0">
                <h3 class="text-xl pb-8">Contact Us</h3>
                <p class="text-base text-zinc-300">Lorem Ipsum Content Lorem Ipsum ContentLorem Ipsum Content Lorem
                    Ipsum Content
                    Lorem Ipsum ContentLorem Ipsum ContentLorem Ipsum Content Lorem Ipsum ContentLorem Ipsum Content</p>
            </div>>
            </a>
        </div>

    </section>
</body>

</html>